html, body {
    height: 100%;
    width: 100%;
      background-image: url("https://previews.123rf.com/images/davidoff205020/davidoff2050202012/davidoff205020201200326/160522284-background-of-multicolored-binary-codes-animation-beautiful-background-with-multi-colored-numbers-of.jpg");
  }
  
  h1 {
      color: lavender;
  }
  
  .card{
      width:75%;
      text-align: center;
      margin:0 auto;
      background-color: lavender;
  
  }
  